<div class="hoxton-footer bottom-fixed">
  <div class="footer-content">
    <div class="hoxton-footer_left-part">
      <img src="images/white-logo.png" alt="logo" class="hoxton-footer_logo">
      <p>6 place de la madeleine<br/>75006 Paris, France</p>
    </div>
    <div class="hoxton-footer_right-part">
      <p>Rendevouz All Rights Reserved<br/>Privacy Policy</p>
    </div>
  </div>
  <div class="hoxton-footer_pink-label">
    <p class="developed">Developed By - Hoxton Digital</p>
  </div>

</div>
