.hoxton-footer {
  height: 300px;
  color: white;
  width: 100%;
  background-color: $secondary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_pink-label {
    position: absolute;
    bottom: 10%;
    height: 10px;
    width: 100%;
    background-color: $primary-color;
  }
  &_logo {
    height: 150px;
    width: 150px;
  }
  &_right-part {
    height: 150px;
    display:flex;
    align-items:top;
    text-align: right;
    line-height: 30px;
  }
  &_left-part {
    display:flex;
    align-items:top;
    height: inherit
  }
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
