#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, #F4F4F4 50%);
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgba(0,0,0,0.7);
    font-family: 'Open Sans', sans-serif;
  }
  h2 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }
  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
  .fa-heart {
    color: #D23333;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;

}
.unclas-image {
  width: 100vw;
  margin-top: 168px;
}

.paragraph {
  text-align: center;
  border-top: 8px solid $primary-color;
  padding-top: 30px;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}

.headers {
  text-align: center;
  font-weight: bold;
}

.would-you {
  text-align: right;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 8px solid $primary-color;
  padding-right: 30px;
}

.banner-img {
  padding-top: 168px;
  width: 100%;
  height: 50vw;
  min-height: 500px;
  background-image: url("/images/would_you.png");
  background-size: cover;
  background-position: left;
  display:flex;
  position: relative;
  z-index: -2;
}

.banner-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}

.bottom-left {
  position: absolute;
  right: 30px;
  bottom: 30px;
  text-align: right;
  font-weight: bold;
  color: white;
}

.banner-logo {
  height: 80px;
  width:80px;
}

.shaped {
  float:left;
  height: calc(35vw * 0.726);
  width:35vw;
  background-size:cover;
}

.content {
  padding: 10px;
}

.cartagena {
  background-image: url("/images/cartagena.png");
}

.lisbon {
  background-image: url("/images/lisbon.png");
}

.fluid-cont {
  margin-top: 20px;
  width: 100vw;
  overflow: hidden;
  padding: 0 15vw;
}

@media only screen and (max-width: 1200px) {
  .unclas-image {
    margin-top: 128px;
  }
  h1 {
    font-size: 26px;
  }
  p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .unclas-image {
    margin-top: 128px;
    min-height: 300px;
  }
  h1 {
    font-size: 22px
  }
  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .fluid-cont {
    padding: 0 5vw;
  }
  .shaped {
    height: calc(45vw * 0.726);
    width:45vw;
  }
  .unclas-image {
    margin-top: 128px;
  }
  h1 {
    font-size: 18px
  }
  p {
    font-size: 10px;
  }
}
