.home-page {
  background-color: white;

  &_section-one {
    width: 100%;
    height: auto;
    min-height: 900px;
    background-image:

      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.05)
      ),

      url('https://s3.eu-west-3.amazonaws.com/rendezvoushotel/home-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    & h4 {
      font-size: 76px;
      font-weight: 'Open-sans', sans-serif;
      font-weight: 600;
      color: white;
      padding: 5px;
    }

    & p {
      font-size: 40px;
      font-weight: 'Open-sans', sans-serif;
      color: white;
      padding: 5px;
    }

    & span {
      background-color: $primary-color;
      color: white;
      width: 300px;
      font-size: 28px;
      padding: 10px 30px;
      margin-top: 80px;
      border-radius: 3px;
      text-align: center;
      box-shadow:
        0 0 0 0.5px rgba(3,42,60,.2),
        0 0 0 1px rgba(3,42,60,.1),
        0 14px 28px rgba(3,42,60,.25),
        0 10px 10px rgba(3,42,60,.22);
      transition: transform .15s ease-in-out;

      &:hover {
        background-color: $primary-color-dark;
        transform: translateY(-2px);
      }
    }
  }

  &_section-two {
    width: 100%;
    padding: 180px 60px;

    & h1 {
      color: black;
      font-size: 30px;
      font-weight: 600;
      font-family: 'Open-Sans', sans-serif;
    }
  }

  &_section-three {
    width: 100%;
    padding: 100px 0px;

    &_header {
      width: 100%;
      height: 100px;
      border-bottom: 8px solid $primary-color;
      background-color: white;
      text-align: left;
      padding: 5px 30px;

      & h4 {
        font-size: 48px;
        font-family: 'Open-Sans', sans-serif;
        color: $secondary-color;
        padding: 20px;
        font-weight: 600;
      }

    }

    &_card-box {
      width: 100%;
      background-color: white;
      padding: 50px 0px;

      &_first-card {
        background-color: white;
        margin: 20px 60px;
        border-radius: 5px;
        box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2),
          0 0 0 1px rgba(3,42,60,.1),
          0 14px 28px rgba(3,42,60,.25),
          0 10px 10px rgba(3,42,60,.22);
        -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        transition: -webkit-box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        display: flex;
        flex-wrap: wrap;

        &:hover {
          box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2), 0 0 0 1px rgba(3,42,60,.1), 0 19px 38px rgba(3,42,60,.3), 0 15px 12px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        }

        &_image {
          background-image: url('https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?cs=srgb&dl=beach-calm-clouds-457882.jpg&fm=jpg');
          background-size: cover;
          width: 50%;
          background-repeat: no-repeat;
        }

        &_text {
          width: 50%;
          padding: 90px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          & h4 {
            font-family: 'Open-Sans', sans-serif;
            font-weight: 600;
            font-size: 36px;
            text-align: center;
          }

          & p {
            padding: 10px;
            font-family: 'Open-Sans', sans-serif;
            font-weight: 300;
            text-align: center;
            font-size: 14px;
          }

          &_button {
            background-color: $primary-color;
            border-radius: 5px;
            color: white;
            font-family: 'Open-Sans', sans-serif;
            font-weight: 300;
            font-size: 22px;
            margin: 30px 10px 10px 10px;
            padding: 10px 60px;
            box-shadow:
              0 0 0 0.5px rgba(3,42,60,.2),
              0 0 0 1px rgba(3,42,60,.1),
              0 14px 28px rgba(3,42,60,.25),
              0 10px 10px rgba(3,42,60,.22);
            transition: transform .15s ease-in-out;

            &:hover {
              background-color: $primary-color-dark;
              transform: translateY(-2px);
            }
          }
        }

      }

      &_second-card {
        height: 500px;
        background-color: white;
        margin: 20px 60px;
        border-radius: 5px;
        box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2),
          0 0 0 1px rgba(3,42,60,.1),
          0 14px 28px rgba(3,42,60,.25),
          0 10px 10px rgba(3,42,60,.22);
        -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        transition: -webkit-box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        display: flex;
        flex-wrap: wrap-reverse;

        &:hover {
          box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2), 0 0 0 1px rgba(3,42,60,.1), 0 19px 38px rgba(3,42,60,.3), 0 15px 12px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        }

        &_text {
          width: 50%;
          padding: 90px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          & h4 {
            font-family: 'Open-Sans', sans-serif;
            font-weight: 600;
            font-size: 36px;
            text-align: center;
          }

          & p {
            padding: 10px;
            font-family: 'Open-Sans', sans-serif;
            font-weight: 300;
            text-align: center;
            font-size: 14px;
          }

          &_button {
            background-color: $primary-color;
            border-radius: 5px;
            color: white;
            font-family: 'Open-Sans', sans-serif;
            font-weight: 300;
            font-size: 22px;
            margin: 30px 10px 10px 10px;
            padding: 10px 60px;
            box-shadow:
              0 0 0 0.5px rgba(3,42,60,.2),
              0 0 0 1px rgba(3,42,60,.1),
              0 14px 28px rgba(3,42,60,.25),
              0 10px 10px rgba(3,42,60,.22);
            transition: transform .15s ease-in-out;

            &:hover {
              background-color: $primary-color-dark;
              transform: translateY(-2px);
            }
          }
        }

        &_image {
          background-image: url('https://images.pexels.com/photos/532860/pexels-photo-532860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
          background-size: cover;
          width: 50%;
          background-repeat: no-repeat;
        }

      }

    }

  }

  &_section-four {

    &_header {
      width: 100%;
      height: 100px;
      border-bottom: 8px solid $primary-color;
      background-color: white;
      text-align: right;
      padding: 5px 30px;

      & h4 {
        font-size: 48px;
        font-family: 'Open-Sans', sans-serif;
        color: $secondary-color;
        padding: 20px;
        font-weight: 600;
      }

    }


    &_card-box {
      width: 100%;
      background-color: white;
      padding: 20px 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 100px;

      &_first-card {
        height: 300px;
        width: 60%;
        background-color: white;
        margin: 20px 60px;
        border-radius: 5px;
        box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2),
          0 0 0 1px rgba(3,42,60,.1),
          0 14px 28px rgba(3,42,60,.25),
          0 10px 10px rgba(3,42,60,.22);
        -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        transition: -webkit-box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        display: flex;
        flex-wrap: wrap;

        &:hover {
          box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2), 0 0 0 1px rgba(3,42,60,.1), 0 19px 38px rgba(3,42,60,.3), 0 15px 12px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        }

        &_image {
          height: 100%;
          width: 50%;
          background-image: url('https://images.pexels.com/photos/316080/pexels-photo-316080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
          background-size: cover;
          background-repeat: no-repeat;
        }

        &_text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & h4 {
            font-family: 'Open-Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
          }
        }

        &_button {
          font-family: 'Open-Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
          margin-top: 40px;
          padding: 10px 80px;
          background-color: $primary-color;
          border-radius: 3px;
          box-shadow:
            0 0 0 0.5px rgba(3,42,60,.2),
            0 0 0 1px rgba(3,42,60,.1),
            0 14px 28px rgba(3,42,60,.25),
            0 10px 10px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
          transition: -webkit-box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

          &:hover {
            background-color: $primary-color-dark;
            cursor: pointer;
          }
        }

      }

      &_second-card {
        height: 300px;
        width: 60%;
        background-color: white;
        margin: 20px 60px;
        border-radius: 5px;
        box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2),
          0 0 0 1px rgba(3,42,60,.1),
          0 14px 28px rgba(3,42,60,.25),
          0 10px 10px rgba(3,42,60,.22);
        -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        transition: -webkit-box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        display: flex;
        flex-wrap: wrap;

        &:hover {
          box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2), 0 0 0 1px rgba(3,42,60,.1), 0 19px 38px rgba(3,42,60,.3), 0 15px 12px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        }

        &_image {
          height: 100%;
          width: 50%;
          background-image: url('https://images.pexels.com/photos/1243538/pexels-photo-1243538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=12600');
          background-size: cover;
          background-repeat: no-repeat;
        }

        &_text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & h4 {
            font-family: 'Open-Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
          }
        }

        &_button {
          font-family: 'Open-Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
          margin-top: 40px;
          padding: 10px 80px;
          background-color: $primary-color;
          border-radius: 3px;
          box-shadow:
            0 0 0 0.5px rgba(3,42,60,.2),
            0 0 0 1px rgba(3,42,60,.1),
            0 14px 28px rgba(3,42,60,.25),
            0 10px 10px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
          transition: -webkit-box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

          &:hover {
            background-color: $primary-color-dark;
            cursor: pointer;
          }
        }

      }

      &_third-card {
        height: 300px;
        width: 60%;
        background-color: white;
        margin: 20px 60px;
        border-radius: 5px;
        box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2),
          0 0 0 1px rgba(3,42,60,.1),
          0 14px 28px rgba(3,42,60,.25),
          0 10px 10px rgba(3,42,60,.22);
        -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        transition: -webkit-box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        display: flex;
        flex-wrap: wrap;

        &:hover {
          box-shadow:
          0 0 0 0.5px rgba(3,42,60,.2), 0 0 0 1px rgba(3,42,60,.1), 0 19px 38px rgba(3,42,60,.3), 0 15px 12px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
        }

        &_image {
          height: 100%;
          width: 50%;
          background-image: url('https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
          background-size: cover;
          background-repeat: no-repeat;
        }

        &_text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & h4 {
            font-family: 'Open-Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
          }
        }

        &_button {
          font-family: 'Open-Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
          margin-top: 40px;
          padding: 10px 80px;
          background-color: $primary-color;
          border-radius: 3px;
          box-shadow:
            0 0 0 0.5px rgba(3,42,60,.2),
            0 0 0 1px rgba(3,42,60,.1),
            0 14px 28px rgba(3,42,60,.25),
            0 10px 10px rgba(3,42,60,.22);
          -webkit-transition: -webkit-box-shadow .15s ease-in-out;
          transition: -webkit-box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out;
          transition: box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

          &:hover {
            background-color: $primary-color-dark;
            cursor: pointer;
          }
        }

      }

    }


  }

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
