<div class="banner-img contact">
  <div class="banner-layer"></div>
  <img src="/images/white-logo.png" alt="rendevouz logo" class="left-logo">
  <h1 class="bl-header"><i class="fab fa-instagram"></i></span> #YES I DARE</h1>
</div>
<h1 class="would-you tar">MEET OUR TEAM</h1>
<div class="avatar-holder">
  <div class="avatar">
    <img src="/images/alexandre.png" alt="Alexandre Olive" class="avatar-img">
    <h3>Alexandre Olive</h3>
    <h4>Founder</h4>
  </div>
</div>
<div class="avatar-holder">
  <div class="avatar pb40">
    <img src="/images/estelle.png" alt="Alexandre Olive" class="avatar-img">
    <h3>Estelle Bernière</h3>
    <h4>European Office Manager</h4>
  </div>
  <div class="avatar pb40">
    <img src="/images/arnaud.png" alt="Alexandre Olive" class="avatar-img">
    <h3>Arnaud Hudaverdian</h3>
    <h4>LatAm Office Manager</h4>
  </div>
</div>
<div style="position:relative;height: 20vw;
  min-height: 250px;">
  <img src="/images/slant.png" alt="/slant" class="slant">
  <img/>
  <h1 class="br">For more information <br/>call us at +1800-232-RENDEZVOUS</h1>
</div>





