---
title: Rendezvous - International Hotel Forum
---

<div class="home-page">
  <section class="home-page_section-one">
    <h4>#UNCLASSIFIABLE</h4>
    <p>#YESIDATE #WOULDYOU?</p>
    <span>Learn More</span>
  </section>
  <section class="home-page_section-two">
    <h1>Rendez-Vous is an International Luxury Hotel Forum that creates unique partnerships between the best hotels in the world and the most important MICE buyers.</h1>
  </section>
  <section class="home-page_section-three">
    <div class="home-page_section-three_header">
      <h4>Would you?</h4>
    </div>
    <div class="home-page_section-three_card-box">
      <div class="home-page_section-three_card-box_first-card">
        <div class="home-page_section-three_card-box_first-card_image"></div>
        <div class="home-page_section-three_card-box_first-card_text">
          <h4>CARTAGENA, COLOMBIA</h4>
          <p>DATES:<br>NOVEMBER 26 TO NOVEMBER 29, 2019</p>
          <p>HOTEL:<br>HOTEL LEGEND SOFITEL SANTA CLARA</p>
          <span class="home-page_section-three_card-box_first-card_text_button">Would you?</span>
        </div>
      </div>
      <div class="home-page_section-three_card-box_second-card">
        <div class="home-page_section-three_card-box_second-card_text">
          <h4>PORTO, PORTUGAL</h4>
          <p>DATES:<br>JUNE 2 TO JUNE 9, 2019</p>
          <p>HOTEL:<br>HOTEL LEGEND SOFITEL SANTA CLARA</p>
          <span class="home-page_section-three_card-box_second-card_text_button">Would you?</span>
        </div>
        <div class="home-page_section-three_card-box_second-card_image"></div>
      </div>
    </div>
  </section>
  <section class="home-page_section-four">
  </section>
</div>
