---
title: Rendezvous - International Hotel Forum
---

<div class="home-page">
    <section class="home-page_section-one">
    </section>
    <section class="home-page_section-two">
      <p>
        Rendez-Vous is an International Luxury Hotel Forum that creates unique partnerships between the best hotels in the world and the most important MICE buyers.
      </p>
    </section>
    <section class="home-page_section-three">
        <div class="home-page_section-three_header">
            <h4>Would you?</h4>
        </div>
        <div class="home-page_section-three_card-box">
            <div class="home-page_section-three_card-box_first-card">

            </div>
            <div class="home-page_section-three_card-box_second-card">

            </div>
        </div>
    </section>
    <section class="home-page_section-four">

    </section>
    <section class="home-page_section-five">

    </section>
</div>
