<img src="images/rendezbackground.png" alt="" class="unclas-image">
<div class="spacer"></div>
<div class="unclass">
</div>
<div class="container">
  <h1 class="headers" style="margin-bottom: 10px;">#UNCLASSIFIABLE</h1>
  <p class="paragraph">RENDEZ-VOUS is a luxury hotel forum that we produce in a different country every year. After a great show in Vienna in February 2018, our 10th edition will take place on April 2019 in the Sofitel Santa Clara of Cartagena de Indias, Colombia.<br/><br/>
  We already produced 9 editions of RENDEZ-VOUS IHF during the past 10 years, always in the best luxury Hotels like the Gran Hotel of Ibiza, the Conservatorium Hotel of Amsterdam, the Conrad Algarve of Lisboa, the Gastwerk Hotel of Hamburg, the Grand Hôtel of Stockholm, the Hotel du Collectionneur of Paris, the Grand Hotel Billia of Saint-Vincent and the last edition at the Park Hyatt of Vienna.</p>
</div>
